absl-py==2.2.1
aiohappyeyeballs
aiohttp
aiosignal
annotated-types==0.7.0
anyio==4.9.0
async-timeout
attrs
Bottleneck
Brotli
certifi
cffi==1.17.1
charset-normalizer
click==8.1.8
contourpy==1.3.1
cycler==0.12.1
datasets
dill
exceptiongroup==1.2.2
fastapi==0.115.12
ffmpeg==1.4
filelock
fonttools==4.56.0
frozenlist
fsspec
grpcio==1.71.0
h11==0.14.0
httptools==0.6.4
huggingface_hub
idna==3.10
Jinja2==3.1.6
kiwisolver==1.4.8
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.10.1
mpmath==1.3.0
multidict
multiprocess
networkx==3.4.2
numexpr
numpy
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
packaging
pandas
pillow==11.1.0
propcache
protobuf
psutil==7.0.0
py-cpuinfo==9.0.0
pyarrow
pycparser==2.22
pydantic==2.11.1
pydantic_core==2.33.0
pydub==0.25.1
pyparsing==3.2.3
PySocks
python-dateutil
python-dotenv==1.1.0
python-multipart==0.0.20
pytz
PyYAML
regex
requests
safetensors
scipy==1.15.2
seaborn==0.13.2
six
sniffio==1.3.1
sounddevice==0.5.1
starlette==0.46.1
sympy==1.13.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
thop==0.1.1.post2209072238
tokenizers
torch==2.6.0
torchvision==0.21.0
tqdm
transformers
typing-inspection==0.4.0
typing_extensions
tzdata
ultralytics==8.3.98
ultralytics-thop==2.0.14
urllib3
uvicorn==0.34.0
uvloop==0.21.0
watchfiles==1.0.4
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
xxhash
yarl
